@mixin detail-title {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0;
  margin: 0 20px;
  color: var(--font-first);
  border-bottom: 1px solid #e4e6eb;
}

.detail {
  cursor: default;

  &-content {
    position: relative;
    max-width: 1140px;
    margin: 20px auto 0 auto;
  }

  &-article {
    max-width: calc(100% - 324px);
    background-color: var(--github-background);
    padding: 24px 36px;
    // height: 600px;

    @media screen and (max-width: 1024px) {
      max-width: 100%;
    }

    .article-title {
      font-weight: 600;
      color: var(--font-first);
    }

    .article-profile {
      display: flex;
      align-items: center;
      margin: 15px 0;

      .article-info {
        margin-left: 5px;

        .article-user {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--font-first);
          height: 24px;

          .ant-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 16px;
            margin-left: 8px;
          }
        }

        .article-data {
          color: var(--font-third);

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &-aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    // height: 600px;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    .detail-author {
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: var(--background);

      &-info {
        font-size: 14px;
        color: var(--font-first);
        margin-left: 10px;
      }

      &-position {
        color: var(--font-third);
        margin-top: 6px;
      }
    }

    .detail-relevant {
      margin: 16px 0;
      background-color: var(--background);

      &-title {
        @include detail-title;
      }

      &-list {
        list-style: none;
        padding: 8px 0;

        .relevant-link {
          text-decoration: none;

          &:hover .relevant-item-title {
            color: var(--brand-hover);
          }

          .relevant-item {
            font-size: 14px;
            font-weight: 400;
            color: var(--font-first);
            padding: 8px 16px;

            &-data {
              font-size: 12px;
              color: var(--font-third);
              margin-top: 4px;
            }
          }
        }
      }
    }

    .detail-catalog {
      list-style: none;
      background-color: var(--background);

      &.is-fixed {
        position: fixed;
        top: 10px;
      }

      &-title {
        @include detail-title;
      }

      &-list {
        list-style: none;
        padding-bottom: 12px;
        max-height: 460px;
        overflow: auto;

        .detail-catalog-item {
          padding: 8px 8px 0 8px;

          .detail-catalog-link {
            display: block;
            text-decoration: none;
            color: var(--font-first);
            padding: 8px 12px;

            &:hover {
              background-color: var(--hover-list);
            }

            &.is-active {
              position: relative;
              color: var(--brand-normal);
  
              &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 0;
                margin-top: 7px;
                width: 4px;
                height: 16px;
                background: var(--brand-normal);
                border-radius: 0 4px 4px 0;
              }
            }
          }
        }
      }
    }
  }
}
