.entry-list {
  width: 100%;

  .entry-link {
    text-decoration: none;

    .entry {
      padding: 12px 20px 14px 20px;

      &:hover {
        background-color: var(--hover-background);
      }

      &-layout {
        display: flex;
        align-items: center;
      }

      &-image {
        flex-shrink: 0;
        width: 120px;
        height: 80px;
      }

      &-text {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 15px;
      }

      &-header {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 14px;
        overflow-x: auto;
        color: var(--font-third);
        font-size: 12px;
        margin-bottom: 12px;

        .dividing {
          width: 1px;
          height: 12px;
          background-color: var(--divide);
          margin: 0 8px;
        }

        .entry-author {
          color: var(--font-first);
        }
      }

      h4 {
        color: var(--font-first);
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-content {
        margin-top: 12px;
        color: var(--font-third);
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-action {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 12px;
        color: var(--font-second);

        &-item {
          padding: 0 5px;

          .icon {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .ant-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    &-item {
      border-color: var(--brand-normal);
      background-color: var(--background);

      &-link,
      &-ellipsis {
        color: var(--font-third) !important;
      }

      a {
        color: var(--font-second);
      }

      &-active a {
        color: var(--brand-normal);
      }
    }
  }
}
