//所有页面的样式
@use './Home.scss';
@use './Detail.scss';

//所有组件的样式
@use './Navigation.scss';
@use './EntryList.scss';
@use './AuthorRank.scss';

@import './github-markdown-css/github-markdown-light.scss';
@import './github-markdown-css/github-markdown-dark.scss';

:root {
  background-color: var(--html-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme='light'] {
  --html-background-color: #f4f5f5;
  --background: #fff;
  --border: #f1f1f1;
  --badge-background: #ee502f;
  --badge-text: #fff;
  --tab-text: #71777c;
  --active-text: #007fff;
  --tag-background: #f4f5f5;
  --brand-normal: #1e80ff;
  --brand-hover: #1171ee;
  --brand-click: #0060dd;
  --brand-disable: #abcdff;
  --font-first: #252933;
  --font-second: #515767;
  --font-third: #8a919f;
  --font-fourth: #c2c8d1;
  --divide: #e5e6eb;
  --hover-background: hsla(0, 0%, 84.7%, 0.1);
  --github-background: #fff;
  --hover-list:  #f7f8fa;
  @include markdown-light;
}

:root[data-theme='dark'] {
  --html-background-color: #1f1f1f;
  --background: #141414;
  --border: #f1f1f1;
  --badge-background: #f0f0f0;
  --badge-text: #595959;
  --tab-text: #bfbfbf;
  --active-text: #ffffff;
  --tag-background: #595959;
  --brand-normal: #ffffff;
  --brand-hover: #bfbfbf;
  --brand-click: #f5f5f5;
  --brand-disable: #434343;
  --font-first: #ffffff;
  --font-second: #bfbfbf;
  --font-third: #8c8c8c;
  --font-fourth: #595959;
  --divide: #e5e6eb;
  --hover-background: hsla(0, 0%, 84.7%, 0.1);
  --github-background: #0d1117;
  --hover-list: hsla(0, 0%, 84.7%, 0.1);
  @include markdown-dark;
}
