.home {
  cursor: default;

  .tab-list-wrapper {
    background-color: var(--background);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    overflow-x: auto;

    .tab-list {
      display: flex;
      align-items: center;
      height: 48px;
      max-width: 960px;
      font-size: 14px;
      padding: 0 16px;
      margin: auto;
      color: var(--tab-text);

      .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 12px;
        white-space: nowrap;
        cursor: pointer;

        &.is-active,
        &:hover {
          color: var(--active-text);
        }
      }
    }
  }

  &-content {
    max-width: 960px;
    margin: 15px auto 0 auto;

    .content-passage {
      max-width: 700px;
      // height: 600px;
      background-color: var(--background);

      .passage-header {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 14px;
        overflow-x: auto;
        color: var(--tab-text);
        padding: 12px 20px;
        border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
        overflow-x: auto;

        &-item {
          padding: 0 8px;
          border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
          white-space: nowrap;
          cursor: pointer;

          &:last-child {
            border: none;
          }

          &.is-active,
          &:hover {
            color: var(--active-text);
          }
        }
      }
    }
  }
}

.tab-dropdown.ant-dropdown {
  width: 340px;
  font-weight: 400;
  // display: block !important;

  @media screen and (max-width: 640px) {
    display: none;
  }

  .ant-dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 12px;
    background-color: var(--background);

    &-item {
      margin: 0 12px 12px 0;
      padding: 2px 12px;
      color: var(--tab-text);
      border-radius: 16px;
      background-color: var(--tag-background);

      &:hover {
        color: var(--active-text);
        background-color: var(--tag-background);
      }
    }
  }
}
